.player{
    background-color:black;
    height: 10rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    box-shadow: 1px -.1px 1px 1px #19e68c;

    background-size: cover;
    background-position:  0% 80%;
}

.player-container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    color:#fff;

}

.player-container__data{
    display: flex;
    justify-content: center;
}

.player-container__data span{
    margin: 0 2rem;
    stroke: rgba(25, 230, 140, .5);
    stroke-width: 10;
}

.player-container__bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


