.menu-link{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link__audio, .menu-link__video{
    text-transform: uppercase;
    font-weight: bold;
    padding: .9rem; 
    font-size: 1.2rem;
    border-radius: 2rem 0 0 2rem;
    width: 13rem;
    background-color:#efefef;
    cursor: pointer;
    border: 0;
}

.menu-link__video{
    border-radius: 0 2rem 2rem 0;
}


.menu-link__video.active, .menu-link__audio.active{
    color: #fff;
    background-color: #19e68c;
    cursor:default;
}

.list{

    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.list-item{
    width: 100%;
    background-color: #fff;
    border-bottom: .15rem solid #efefef;
    padding: 2rem;
    display: flex;
    align-items: center;
    line-height: 1.6;
}

.list-item p{
    color: #a89fb1;
}

.list-item div{
    flex: 1;
    padding: 1rem;
}

.list-item__play {
    outline: none;
}

.fa-pause-circle,.fa-play-circle{
    color: #a89fb1;
    outline: none;
}
.fa-play-circle.active{
    color: #19e68c;
    outline: none;
}

.fa-play-circle:hover, .fa-pause-circle:hover{
    cursor:pointer;
    color: #19e68c;
    stroke: rgba(25, 230, 140, .5);
    stroke-width: 10;
}

/***********************audio player*********************************/
.player-section{
    position:relative;
    width: 100%;
    height: 10rem;
    background-color: black;
}